{% extends 'daycareApp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<main class="main" id="main">
  <div class="container">
    <form
      action=""
      method="POST"
      novalidate="false"
      class="bg-light p-3 mt-5 rounded-30 shadow-lg form"
      id="form"
    >
      <h2 class="mt-5 text-center">Edit sitters on duty</h2>
      <br/>
      {% csrf_token %}
      {{ form|crispy }}  

      <button
        class="btn"
        style="
          background: #2e53fc;
          color: white;
          width: 80%;
          display: grid;
          margin: auto;
        "
      >
        Submit
      </button>
    </form>
  </div>
</main>
{% endblock %}