{% comment %} {% extends 'daycareApp/base.html' %} {% load crispy_forms_tags %} {% load static %}


{% block content %}
<main class="main" id="main">
<div class="container">
    <!-- Add item Modal -->
    <button
    type="button" class="btn btn-lg m-3 text-white" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
    style="background-color: #2e53fc; border: none;"
    >
      <span class="bi bi-currency-dollar">Pay</span>
    </button>
     <div class="addform w-50 p-4" style="box-shadow: 0 0 20px 0 rgba(1, 41, 112, 0.15); border-radius: 15px; display: grid; margin: auto;">
      <form action="" method= 'POST'>
        {% if sell_message %}
            <div class="alert alert-success" role="alert">
              {{ sell_message }}
            </div>
        {% elif sell_error_message %}
              <div class="alert alert-danger" role="alert">
                {{ sell_error_message }}
              </div>
        {% endif %} 
          <div class="mb-2 form_inner">
            {% csrf_token %} 
            {{ addItemForm|crispy }} 
      
          </div>
          <button class="btn btn-primary mr-5" style="background-color: #2e53fc; border: none;">Add Item</button>
      </form>
        
     </div>
    

    
    <!-- item modal end -->

    <!-- item table -->
    <div class="col-lg-12 col-md-12 sitter-table mt-3 p-2">
      <table class="table table-bordered table-stripped mt-3">
        <caption class="caption-top text-center"><h4>Sold item List</h4></caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for items in items %}
            <tr>
              <th scope="row">{{ item.id }}</th>
              <td>{{ items.item }}</td>
              <td>{{ items.quantity }}</td>
              <td>{{ items.price }}</td>
              <td>UGX. {{ total_price }}</td>
              <td>UGX. {{ total_price }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table> 
    </div>
  </div>
</main>

{% endblock content %} {% endcomment %}